body {
    background-color: whitesmoke;
}

nav {
    background-color: white;
    padding: 1rem;
}

nav, ul {
    display: flex;
}

li {
    color: black;
    font-family: 'Snell Roundhand', cursive;
    margin-left: 5rem;
    font-size: 30px;
    list-style-type: none;
}